*{
box-sizing:border-box;
  margin:0;
}
html{
  font-size:16px;
  font-family:sans-serif;
}

main{
  background-color:#dad7cd;
  width:90%;
  margin:20px auto;
  padding:30px 15px;
}

#title, #subtitle{
  text-align:center;
  margin:20px 0 15px 0;

}

img{
  display:block;
}
#image{
  max-width:100%;
}

#img-div{
  background-color:#fff;
  padding: 20px 3rem;
}
#img-caption{
  text-align:center;
  padding-top:0.5em;
}

#tribute-info{
  width:50vw;
  min-width:350px;
  margin: 50px auto;

}
#tribute-info h2{
  font-size:1.2rem;
  text-align:center;
  margin:20px 0;
}

.bold{
  font-weight:600;
}

#tribute-info ul{
  display:block;
  margin: 2.5rem 0;
}

#tribute-info ul > li > p{
  margin-top:1.5em;
}

#quote{
  font-style:italic;
  text-align:center
}

#wikipedia{
  display:flex;
  justify-content:center;
}
#wikipedia span{
  font-size:1rem;
  text-align:center;
}
#wikipedia a{
  color:#3a86ff;
}

#wikipedia a:hover{
  color:#fff
}